body {
    margin: 0;
    height: 100vh;
}

.container {
    text-shadow: crimson 1px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: antiquewhite; 
}

.block {
    width: 200px;
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 65px;
}